
.vs/Seguranca/config/applicationhost.config
.vs/Seguranca/v16/.suo
*.dll
Seguranca.API/appsettings.Development.json
Seguranca.API/bin/Debug/net5.0/appsettings.Development.json
Seguranca.API/bin/Debug/net5.0/appsettings.json
Seguranca.API/bin/Debug/net5.0/Seguranca.API.deps.json
Seguranca.API/bin/Debug/net5.0/Seguranca.API.exe
Seguranca.API/bin/Debug/net5.0/Seguranca.API.pdb
Seguranca.API/bin/Debug/net5.0/Seguranca.API.runtimeconfig.dev.json
Seguranca.API/bin/Debug/net5.0/Seguranca.API.runtimeconfig.json
Seguranca.API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Seguranca.API/obj/Debug/net5.0/apphost.exe
Seguranca.API/obj/Debug/net5.0/Seguranca.API.AssemblyInfo.cs
Seguranca.API/obj/Debug/net5.0/Seguranca.API.AssemblyInfoInputs.cache
Seguranca.API/obj/Debug/net5.0/Seguranca.API.assets.cache
Seguranca.API/obj/Debug/net5.0/Seguranca.API.csproj.CopyComplete
Seguranca.API/obj/Debug/net5.0/Seguranca.API.csproj.CoreCompileInputs.cache
Seguranca.API/obj/Debug/net5.0/Seguranca.API.csproj.FileListAbsolute.txt
Seguranca.API/obj/Debug/net5.0/Seguranca.API.csprojAssemblyReference.cache
Seguranca.API/obj/Debug/net5.0/Seguranca.API.GeneratedMSBuildEditorConfig.editorconfig
Seguranca.API/obj/Debug/net5.0/Seguranca.API.genruntimeconfig.cache
Seguranca.API/obj/Debug/net5.0/Seguranca.API.MvcApplicationPartsAssemblyInfo.cs
Seguranca.API/obj/Debug/net5.0/Seguranca.API.pdb
Seguranca.API/obj/Debug/net5.0/Seguranca.API.RazorTargetAssemblyInfo.cache
Seguranca.API/obj/Debug/net5.0/staticwebassets/Seguranca.API.StaticWebAssets.Manifest.cache
Seguranca.API/obj/Debug/net5.0/staticwebassets/Seguranca.API.StaticWebAssets.xml
Seguranca.API/obj/project.assets.json
Seguranca.API/obj/project.nuget.cache
Seguranca.API/obj/Seguranca.API.csproj.nuget.dgspec.json
Seguranca.API/obj/Seguranca.API.csproj.nuget.g.props
Seguranca.API/obj/Seguranca.API.csproj.nuget.g.targets
Seguranca.Core/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Seguranca.Core/obj/Debug/net5.0/Seguranca.Core.AssemblyInfo.cs
Seguranca.Core/obj/Debug/net5.0/Seguranca.Core.AssemblyInfoInputs.cache
Seguranca.Core/obj/Debug/net5.0/Seguranca.Core.assets.cache
Seguranca.Core/obj/Debug/net5.0/Seguranca.Core.csprojAssemblyReference.cache
Seguranca.Core/obj/Debug/net5.0/Seguranca.Core.GeneratedMSBuildEditorConfig.editorconfig
Seguranca.Core/obj/project.assets.json
Seguranca.Core/obj/project.nuget.cache
Seguranca.Core/obj/Seguranca.Core.csproj.nuget.dgspec.json
Seguranca.Core/obj/Seguranca.Core.csproj.nuget.g.props
Seguranca.Core/obj/Seguranca.Core.csproj.nuget.g.targets
Seguranca.API/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
Seguranca.API/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
Seguranca.API/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
Seguranca.API/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
Seguranca.API/bin/Debug/net5.0/Seguranca.Core.pdb
Seguranca.Core/bin/Debug/net5.0/Seguranca.Core.deps.json
Seguranca.Core/obj/Debug/net5.0/Seguranca.Core.csproj.CoreCompileInputs.cache
Seguranca.Core/obj/Debug/net5.0/Seguranca.Core.csproj.FileListAbsolute.txt
Seguranca.Core/obj/Debug/net5.0/Seguranca.Core.pdb
Seguranca.Core/bin/Debug/net5.0/Seguranca.Core.pdb
Seguranca.API/obj/Debug/net5.0/Seguranca.API.MvcApplicationPartsAssemblyInfo.cache
.vs/Seguranca/DesignTimeBuild/.dtbcache.v2
Seguranca.API/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
Seguranca.API/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
Seguranca.API/bin/Debug/net5.0/Seguranca.API.Views.pdb
Seguranca.API/obj/Debug/net5.0/Razor/Views/Eventos/Create.cshtml.g.cs
Seguranca.API/obj/Debug/net5.0/Razor/Views/Eventos/Delete.cshtml.g.cs
Seguranca.API/obj/Debug/net5.0/Razor/Views/Eventos/Details.cshtml.g.cs
Seguranca.API/obj/Debug/net5.0/Razor/Views/Eventos/Edit.cshtml.g.cs
Seguranca.API/obj/Debug/net5.0/Razor/Views/Eventos/Index.cshtml.g.cs
Seguranca.API/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Seguranca.API/obj/Debug/net5.0/Seguranca.API.RazorAssemblyInfo.cache
Seguranca.API/obj/Debug/net5.0/Seguranca.API.RazorAssemblyInfo.cs
Seguranca.API/obj/Debug/net5.0/Seguranca.API.RazorCoreGenerate.cache
Seguranca.API/obj/Debug/net5.0/Seguranca.API.RazorTargetAssemblyInfo.cs
Seguranca.API/obj/Debug/net5.0/Seguranca.API.TagHelpers.input.cache
Seguranca.API/obj/Debug/net5.0/Seguranca.API.TagHelpers.output.cache
Seguranca.API/obj/Debug/net5.0/Seguranca.API.Views.pdb
Seguranca.API/Seguranca.API.csproj.user
